#login {
    background: linear-gradient(120deg, #4c79d3 44.9%, #fff 45%) no-repeat fixed;
}

#app {
    background: linear-gradient(120deg, #fff 44.9%, #4c79d3 45%) no-repeat fixed;
}

header {
    border-bottom: 1px solid #bebcdc;
    padding: 5px;
    background: #ffffff;
}

.icon-detail {
    font-size: 50px;
    margin-right: 50px;
    vertical-align: middle;
}

.color-primary {
    color: #4e0070;
}

.color-secondary {
    color: #4c79d3;
}

.text-login {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}

.coins {
    position: absolute;
    bottom: 100px;
}

.button-login {
    border-radius: 10px;
    background-color: #4e0070;
    color: #fff;
    width: 50%;
    margin: 0 25%;
}

.button-login:hover, .button-default:hover {
    background-color: #4c79d3;
    color: #fff;
}

.button-default {
    border-radius: 10px;
    background-color: #4e0070;
    color: #fff;
    margin-top: 20px;
}

.button-cancel {
    border-radius: 10px;
}

.button-float {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    background-color: #4e0070;
    border: 2px solid #4e0070;
    color: #fff;
    padding: 0px !important;
    font-size: 35px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.button-float:hover {
    background-color: #fff;
    border: 2px solid #4c79d3;
    
    text-decoration: none;
}

.link-default {
    color: #4e0070;
    cursor: pointer;
    text-decoration: none;
}

.info {
    background-color: #ffffff;
    border-radius: 20px 20px 10px 10px;
    padding: 20px 0px 0px 0px;
}

.logout {
    min-width: 5rem !important;
}

.menu {
    margin-right: 20px;
}